{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1 class="mt-5 mb-5 text-center">Edit Profile</h1>
            <div class="col-md-6 offset-md-3">
            {{ form_start(userForm) }}
            
                <div class="form-group text-black">
                    {{ form_label(userForm.firstname)}}
                    {{ form_widget(userForm.firstname, { "attr": {"class" : "form-control" } }) }}
                </div>
                <div class="form-group text-black">
                    {{ form_label(userForm.name)}}
                    {{ form_widget(userForm.name, { "attr": {"class" : "form-control" } }) }}
                </div>
                <div class="form-group text-black">
                    {{ form_label(userForm.email)}}
                    {{ form_widget(userForm.email, { "attr": {"class" : "form-control" } }) }}
                </div>
                <div class="form-group text-black">
                    {{ form_widget(userForm.plainPassword, { "attr": {"class" : "form-control" } }) }}
                </div>
                     <div class="form-group text-black">
                    {{ form_label(userForm.description)}}
                    {{ form_widget(userForm.description, { "attr": {"class" : "form-control" } }) }}
                </div>
                 <div class="imagePreview">
                {{ form_label(userForm.avatar) }}
                {{ form_widget(userForm.avatar, { "attr": {"class" : "form-control" } }) }}
                </div>
                <div >        
                    {{ form_label(userForm.Submit) }}
                    {{ form_widget(userForm.Submit) }}
                </div>

            {{ form_end(userForm) }}
             <button class='button-13'><a href="{{ path('admin_users')}}" class="text-decoration-none text-dark"> Back</a> </button>

            </div>
        </div>
    </div>

{% endblock %}
