{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}

    <h1 class="text-center mb-4 mt-4">Users list</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Avatar</th>
            <th>Mail</th>
            <th>Roles</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {%  for user in users %}
            <tr>
                <td>{{user.id}}</td>
                {% if user.avatar != null %}
                <td><img style ="max-width: 150px" src="{{ vich_uploader_asset(user.avatar, 'imageFile') }}"  alt="{{ user.firstname }} {{ user.name }}"></td>
                {% else %}
                <td><img src=" {{asset('images/avatar/no-profile.jpg')}}" alt="no_profile_picture" width=50 height=50></td>
                {% endif %}
                <td>{{user.email}}</td>
                <td>{% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            User
                        {% elseif role == "ROLE_EDITOR" %}
                            Editor
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrtor
                        {% endif %}          
                    {% endfor %}
                </td>
                <td><a href="{{path('admin_edit_user', {'id' : user.id}) }}" class="btn btn-warning">Edit</a></td>
                <td><a href="{{path('admin_confirm', {'id' : user.id}) }}" class="btn btn-warning">Delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5>No register users</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button><a href="{{ path('admin_index')}}" class="btn btn-lg btn-primary">BACK</a></button>
{% endblock %}
