{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

{# SearchBar #}

<div class="d-flex justify-content-end ">
  {{ form_start(form, { 'attr' : {"class" : 'm-2' }}) }}
      {{ form_widget(form.q) }}
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  {{ form_end(form) }}
</div>

<div class="articlePage">
  {% for article in articles %}

  {# modal for author informations #}
<!-- Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="exampleModalLongTitle">{{article.user.name}} {{article.user.firstname}}</h5>
        <img style ="max-width: 150px" src="{{ vich_uploader_asset(article.user.avatar, 'imageFile') }}"  alt="{{ article.user.firstname }} {{ article.user.name }}">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modalBody modal-body scroll">
        {{article.user.description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{# 
  <div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{article.user.name}} {{article.user.firstname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{article.user.description}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> #}



{# article cards  #}
<div class="card mb-3 articleCard ">
  <h3 class="card-header text-center">{{article.title}}</h3>
  <div class=" galleryImage">
    <img src="{{ vich_uploader_asset(article, 'imageFile')}}" alt="article_picture" class='articleImage' >
  </div>
  <div class="card-body d-flex align-items-center">
    <p class="card-text scroll">{{article.content}}</p>
  </div>
  <ul class="list-group list-group-flush text-center">
    <li class="list-group-item">{{article.user.name}} {{article.user.firstname}}</li>
    <li class="list-group-item ">{{article.updatedAt|date('F j, Y, g:i a')}}</li>
  </ul>
  <div class="card-footer text-muted text-center">
    {% set publicationDate = article.updatedAt %}
    {% set now = "now" %}
    {% set daysSincePublished = (now|date('U') - publicationDate.getTimestamp()) / 86400 %}
    {% set daysSincePublished = daysSincePublished|round(0, 'floor')  %}
    <li class="list-group-item">Article published {{ daysSincePublished }} days ago.</li>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#authorModal">Author infos</button>
  </div>
</div>

  {% endfor %}


{# pagination #}

<div class="pagination navigation">
{{knp_pagination_render(articles)}}
</div>

{% endblock %}
